<h1><%= @message %></h1>

<h4>Address Entries:<h4>
<ul>
<% @contact.addresses.each do |address| %>
  <%= "<li> #{address.street}, #{address.city}, #{address.state}, #{address.type}  </li>" %>
<% end%>
</ul>

<br>
<h4>Phone Numbers:<h4>
<ul>
<% @contact.phones.each do |phone| %>
  <%= "<li> #{phone.number}, #{phone.type}  </li>" %>
<% end%>
</ul>

<br>
<h4>Email Address:<h4>
<ul>
<% @contact.emails.each do |email| %>
  <%= "<li> #{email.address}, #{email.type}  </li>" %>
<% end%>
</ul>
<br>



<form action="/edit-contact">
  <div class="form-group">
    <h3>Add Address:</h3>
    <label for="street">Street Address:</label>
    <input name="street" id="street" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="city">City:</label>
    <input name="city" id="city" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="state">State:</label>
    <input name="state" id="state" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="address-type">Address Type:</label>
    <input name="address-type" id="address-type" class="form-control" type="text">
  </div>
  <button class="btn btn-primary">Add Address</button>
</form>
<hr>

<form action="/edit-phone">
  <div class="form-group">
    <h3>Add Phone:</h3>
    <label for="phone">Phone Number:</label>
    <input name="phone" id="phone" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="phone-type">Line Type:</label>
    <input name="phone-type" id="phone-type" class="form-control" type="text">
  </div>

  <button class="btn btn-primary">Add Phone</button>
</form>

<form action="/edit-email">
  <div class="form-group">
    <h3>Add Email:</h3>
    <label for="email">Email:</label>
    <input name="email" id="email" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="email-type">Email Type:</label>
    <input name="email-type" id="email-type" class="form-control" type="text">
  </div>

  <button class="btn btn-primary">Add Email</button>
</form>

<hr>
<a href="/" class="btn btn-info">Back</a>
<a href="/delete" class="btn btn-danger">Delete Contact</a>
