<h1><%= @message %></h1>
<form action="/add_contact">
  <div class="form-group">
    <label for="name">Contact Name:</label>
    <input name="name" id="name" class="form-control" type="text">
  </div>
</form>
