<% unless Contact.all.empty?%>
<h2>Your Contacts Book:</h2>
<% end %>

<ul>
  <% Contact.all.each do |contact| %>
    <%= "<li><a href='/contact-page/#{contact.id}'>#{contact.name}</a></li>" %>
  <% end %>
</ul>

<h2><%= @message %></h2>
<form action="/add-contact">
  <div class="form-group">
    <label for="name">Contact Name:</label>
    <input name="name" id="name" class="form-control" type="text">
  </div>

  <hr>

  <div class="form-group">
    <label for="street">Street Address:</label>
    <input name="street" id="street" class="form-control" type="text">

    <label for="city">City:</label>
    <input name="city" id="city" class="form-control" type="text">

    <label for="state">State:</label>
    <input name="state" id="state" class="form-control" type="text">

    <label for="address-type">Address Type:</label>
    <input name="address-type" id="address-type" class="form-control" type="text">
  </div>

  <hr>
  <div class="col-md-6">
    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input name="phone" id="phone" class="form-control" type="text">

      <label for="phone-type">Line Type:</label>
      <input name="phone-type" id="phone-type" class="form-control" type="text">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input name="email" id="email" class="form-control" type="text">

      <label for="email-type">Email Type:</label>
      <input name="email-type" id="email-type" class="form-control" type="text">
    </div>
  </div>
  <button class="btn btn-primary">Add Contact</button>

</form>
