<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
    <h1 id="header">Contacts Homepage</h1>
    <hr>
      <%= yield %>
    </div>
  </body>
</html>
